<%- include("partials/header.ejs")  %> 
<section id="home">
  <% eb.forEach(function(e) { %>
    <div class="exp"><p id="<%= e.id %>"><%= e.experience %></p>
      <span class="right"><p><%= e.date %></p></span>
      <button formmethod="delete" class="delete">Delete</button>
    </div>
      
 <% }) %>
</section>

<%- include("partials/footer.ejs") %>