<%- include("partials/header.ejs")  %> 
<section id="home">
  <% eb.forEach(function(e) { %>
    <div class="exp"><p id="<%= e.id %>"><%= e.experience %></p>
      <span class="right"><p><%= e.date %></p></span>
      <form method="post" action="/delete/<%= e.id%>">
        <button type="submit" class="delete">Delete</a>
      </form>
    </div>
      
 <% }) %>
</section>

<%- include("partials/footer.ejs") %>